
@font-face {
    font-family: 'open_sansbold';
    src: url('Fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('Fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('Fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('Fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Thankyou Page Css */

.thankyouMain {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}
.thankyouMain h2 {
    font-size: 78px;
    font-family: 'open_sansbold';
    color: #124477;
}
.thankyouMain p {
    font-size: 1.25em;
}
.thankyouMain button {
    width: 29%;
    background: #62bdde;
    color: #fff;
    border-radius: 5px;
    padding: 13px;
    font-family: 'open_sansbold';
    font-size: 17px;
}
.thankyouMain i {
    font-size: 8rem;
    color: #124477;
}
.recieptStyle {
    font-size:24px;
    width: 100%;
}
.recieptStyle th {
    width: 50%;
}
.recieptStyle tr {
    
    border-top: 1px solid #62bdde ;
    border-bottom:1px solid #62bdde ;
}
.returnHome a {
    width: 29%;
    background: #62bdde;
    color: #fff;
    border-radius: 5px;
    padding: 13px;
    font-family: 'open_sansbold';
    font-size: 17px;
}